---
# Source: cilium-chaining/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cilium-chaining
  namespace:  kube-system
---
# Source: cilium-chaining/templates/clusterrole.yaml
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cilium-chaining
  namespace: kube-system
rules:
  - apiGroups: [ "" ]
    resources: [ "pods", "nodes", "namespaces", "configmaps", "serviceaccounts" ]
    verbs: [ "get", "watch", "list", "update" ]
  - apiGroups: [ "" ]
    resources:
      - events
    verbs:
      - create
  - apiGroups: [ "networking.k8s.io" ]
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "coordination.k8s.io" ]
    resources: [ "leases" ]
    verbs: [ "get", "watch", "update", "create" ]
  - apiGroups: [ "extensions" ]
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "" ]
    resources:
      - pods/status
    verbs:
      - update
  - apiGroups: [ "discovery.k8s.io" ]
    resources:
      - endpointslices
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "" ]
    resources:
      - endpoints
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups: [ "" ]
    resources:
      - nodes
      - nodes/status
    verbs:
      - patch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - get
      - list
      - watch
      - update
  - apiGroups:
      - cilium.io
    resources:
      - '*'
    verbs:
      - '*'
---
# Source: cilium-chaining/templates/clusterrolebinding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cilium-chaining-binding
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cilium-chaining
subjects:
  - kind: ServiceAccount
    name: cilium-chaining
    namespace: kube-system
---
# Source: cilium-chaining/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-chaining-init
  namespace: kube-system
  labels:
    app.kubernetes.io/name: cilium-chaining
    app.kubernetes.io/instance: cilium-chaining
data:
  init.sh: |
    #!/bin/sh

    set -o errexit
    set -o nounset

    ENABLE_HUBBLE=${ENABLE_HUBBLE:-false}
    ENABLE_BANDWIDTH_MANAGER=${ENABLE_BANDWIDTH_MANAGER:-false}
    HUBBLE_METRICS_SERVER=${HUBBLE_METRICS_SERVER:-9091}
    HUBBLE_LISTEN_ADDRESS=${HUBBLE_LISTEN_ADDRESS:-4244}

    formatENV() {
      value=$1
      echo ${value} | tr -d '[:space:]' | tr '[:upper:]' '[:lower:]'
    }

    kernel_version() {
      # check kernel version
      KERNEL_MAJOR_VERSION=$(uname -r | awk -F . '{print $1}')
      KERNEL_MINOR_VERSION=$(uname -r | awk -F . '{print $2}')
      # kernel version equal and above 4.19

      KERNEL_VERSION=$(uname -r)
      if { [ "$KERNEL_MAJOR_VERSION" -eq 4 ] && [ "$KERNEL_MINOR_VERSION" -le 19 ] ; } || [ "$KERNEL_MAJOR_VERSION" -lt 4 ]  ; then
        printf "kernel version: %s is less than 4.19, can't start cilium daemon\n" "$KERNEL_VERSION"
        exit 1
      fi

      printf "kernel version is %s, start cilium daemon\n" "$KERNEL_VERSION"
    }


    copy_cni_bin() {
      rm -f /opt/cni/bin/cilium-cni.old || true
      mv /opt/cni/bin/cilium-cni /opt/cni/bin/cilium-cni.old || true
      cp -f /usr/bin/cilium-cni /opt/cni/bin
      rm -f /opt/cni/bin/cilium-cni.old || true
    }

    start_cilium() {

      nsenter -t 1 -m -- bash -c 'mount | grep "/sys/fs/bpf type bpf" ||
      {
        echo "Mounting BPF filesystem..."
        mount bpffs /sys/fs/bpf -t bpf
        mount -o remount rw /proc/sys
      }'

      enable_in_cluster_loadbalance=false
      policy_enforcement=default
      kube_proxy_replacement=partial
      enable_hubble=false
      enable_bandwidth_manager=false
      agent_health_port=9100

      # service loadbalance
      if [ -n "$IN_CLUSTER_LOADBALANCE" ]; then
         enable_in_cluster_loadbalance=$(formatENV $IN_CLUSTER_LOADBALANCE)
      fi
      echo "enable_in_cluster_loadbalance: $enable_in_cluster_loadbalance"

      if [ -n "$POLICY_ENFORCEMENT" ]  ; then
         policy_enforcement=$(formatENV $POLICY_ENFORCEMENT)
      fi
      echo "policy_enforcement: $policy_enforcement"

      # kube-proxy replacement
      if [ -n "$KUBE_PROXY_REPLACEMENT" ]; then
        kube_proxy_replacement=$(formatENV $KUBE_PROXY_REPLACEMENT)
      fi
      echo "kube_proxy_replacement: ${kube_proxy_replacement}"

      # bandwidth manager
      if [ -n "$ENABLE_BANDWIDTH_MANAGER" ]; then
        enable_bandwidth_manager=$(formatENV $ENABLE_BANDWIDTH_MANAGER)
      fi

      # hubble
      if [ "$ENABLE_HUBBLE" = "true" ]; then
        enable_hubble_arg="--enable-hubble=true --hubble-disable-tls=true"
      fi

      hubble_metrics_arg=""
      if [ -n "$HUBBLE_METRICS" ]; then
        hubble_metrics_arg="--hubble-metrics=${HUBBLE_METRICS}"
      fi

      if [ -n "$AGENT_HEALTH_PORT" ]; then
        agent_health_port=$(formatENV $AGENT_HEALTH_PORT)
      fi
      echo "agent_health_port: ${agent_health_port}"

      # register crd
      cilium preflight register-crd

      # start daemon
      cilium-agent --tunnel=disabled \
        --enable-ipv4-masquerade=false \
        --enable-ipv6-masquerade=false \
        --disable-envoy-version-check=true \
        --enable-local-node-route=false \
        --ipv4-range=169.254.10.0/30 \
        --ipv6-range=fe80:2400:3200:baba::/30 \
        --enable-endpoint-health-checking=false  \
        --enable-health-checking=false \
        --enable-service-topology=true  \
        --disable-cnp-status-updates=true \
        --k8s-heartbeat-timeout=0 \
        --enable-session-affinity=true \
        --install-iptables-rules=false \
        --enable-l7-proxy=false \
        --ipam=cluster-pool  \
        --enable-bandwidth-manager=${enable_bandwidth_manager} \ 
        --enable-policy=${policy_enforcement}  \
        --enable-in-cluster-loadbalance=${enable_in_cluster_loadbalance} \
        --kube-proxy-replacement=${kube_proxy_replacement} \
        --hubble-metrics-server=${HUBBLE_METRICS_SERVER} \
        --hubble-listen-address=${HUBBLE_LISTEN_ADDRESS} \
        --agent-health-port=${AGENT_HEALTH_PORT} \
        ${enable_hubble_arg} ${hubble_metrics_arg}
    }

    kernel_version
    copy_cni_bin
    start_cilium
---
# Source: cilium-chaining/templates/daemonset.yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cilium-chaining
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: cilium-chaining
      app.kubernetes.io/instance: cilium-chaining
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cilium-chaining
        app.kubernetes.io/instance: cilium-chaining
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
              # Compatible with Kubernetes 1.12.x and 1.13.x
              - matchExpressions:
                  - key: beta.kubernetes.io/os
                    operator: In
                    values:
                      - linux
      containers:
      - command:
        - ./init.sh
        env:
        - name: NODENAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: CILIUM_K8S_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: IN_CLUSTER_LOADBALANCE
          value: "true"
        - name: POLICY_ENFORCEMENT
          value: "default"
        - name: KUBE_PROXY_REPLACEMENT
          value: "partial"
        - name: ENABLE_BANDWIDTH_MANAGER
          value: "true"
        - name: ENABLE_HUBBLE
          value: "false"
        - name: HUBBLE_METRICS
          value: ""
        - name: AGENT_HEALTH_PORT
          value: "9100"
        image: ghcr.io/spidernet-io/cilium-chaining:latest
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 6
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            host: localhost
            port: 9099
          timeoutSeconds: 1
        name: cilium-chaining
        readinessProbe:
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            host: localhost
            port: 9099
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 1000m
            memory: 1024Mi
          requests:
            cpu: 250m
            memory: 300Mi
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /opt/cni/bin
          name: cni-bin
        - mountPath: /lib/modules
          name: lib-modules
        - mountPath: /host
          name: host-root
        - mountPath: /etc/cni/net.d
          name: cni
          readOnly: true
        - mountPath: /sys/fs
          name: sys-fs
        - mountPath: /var/run/cilium
          name: cilium-run
        - mountPath: /run/xtables.lock
          name: xtables-lock
      hostNetwork: true
      serviceAccountName: cilium-chaining
      hostPID: true
      volumes:
      - hostPath:
          path: /opt/cni/bin
          type: Directory
        name: cni-bin
      - hostPath:
          path: /etc/cni/net.d
          type: ""
        name: cni
      - hostPath:
          path: /var/run/
          type: Directory
        name: eni-run
      - hostPath:
          path: /lib/modules
          type: ""
        name: lib-modules
      - hostPath:
          path: /var/lib/cni/networks
          type: ""
        name: cni-networks
      - hostPath:
          path: /
          type: Directory
        name: host-root
      - name: addon-token
        secret:
          defaultMode: 420
          items:
          - key: addon.token.config
            path: token-config
          optional: true
          secretName: addon.network.token
      # cilium
      - hostPath:
          path: /var/run/cilium
          type: DirectoryOrCreate
        name: cilium-run
      # cilium
      - hostPath:
          path: /sys/fs/
          type: DirectoryOrCreate
        name: sys-fs
      - hostPath:
          path: /run/xtables.lock
          type: FileOrCreate
        name: xtables-lock
